# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: bash -c 'if command -v clang-tidy >/dev/null; then clang-tidy "$@"; elif [ -f /opt/homebrew/opt/llvm/bin/clang-tidy ]; then /opt/homebrew/opt/llvm/bin/clang-tidy "$@"; else echo "clang-tidy not found. Please install llvm/clang-tidy."; exit 1; fi' --
        language: system
        types: [c]
        args: ["-p=.", "--quiet", "--fix", "--fix-errors"]
